[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/cereal"]
	path = vendor/cereal
	url = https://github.com/USCiLab/cereal
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/kcat/openal-soft
